public/vendor/**/*.zip
public/vendor/jquery*.*
public/vendor/Highcharts-11.1.0/**/*.*
public/vendor/jquery*.*
vendor/**/*.*
node_modules/**/*
node_modules/**/LICENSE
node_modules/**/README
node_modules/**/Makefile
node_modules/*.*
uploads/*
!uploads/readme
nodejs-server-server-generated.zip
*.pem
**/.DS_Store
docs/~*.docx
